* {
    box-sizing: border-box;
 }
#allbody {
  background-color: lightgray;
  background-size: cover;
  height: 100%;
}

#nav {
  background-color: black;
  text-align: center;
  color: aliceblue;
  border: 1px solid black;
}
#anim {
  position: absolute;
  top: 1px;
  left: 10px;
  width: 150px;
  border-radius: 50%;
  opacity: 0.3px;
  z-index: 1;
}

.img1 {
  position: absolute;
  top: 5px;
  width: 50px;
  left: 690px;
  border-radius: 5%;
}
.img2 {
  position: absolute;
  top: 5px;
  width: 50px;
  right: 690px;
}

h1 {
  padding-top: 10px;
}
h3 {
  color: white;
}

#img-continer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.continer {
  height: 100%;
}

.divform {
  position: absolute;
  top: 30%;
  left: 30%;
}

h4 {
  padding-left: 8%;
}

#vist {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
 
}

#contact{
    padding-right: 5%;
    padding-left: 5%;
}
